@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background: #7F7F7F url("../../images/isfahan_lotfollah_mosque_ceiling_symmetric.jpg") no-repeat center center scroll;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #494949;
	background-color: rgba(0, 0, 0, 0.71);
}

#page_position_content
{
	margin-bottom: 24px;
}

#pu639
{
	width: 0.01px;
	padding-bottom: 1px;
	position: relative;
}

#u639
{
	z-index: 2;
	width: 379px;
	height: 70px;
	margin-right: -10000px;
}

#pamphletu785
{
	z-index: 21;
	width: 0.01px;
	height: 30px;
	padding-bottom: 543px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 5px;
}

#u790
{
	position: absolute;
	width: 372px;
	top: 189px;
}

#u790popup
{
	z-index: 22;
}

#u791
{
	z-index: 23;
	width: 354px;
	height: 364px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.8);
	margin-right: -10000px;
	position: relative;
	padding: 10px 6px 9px 10px;
	-pie-background: rgba(255, 255, 255, 0.8);
}

#u859-4
{
	z-index: 38;
	width: 140px;
	text-align: center;
	font-size: 22px;
	line-height: 26px;
	font-family: quantico, sans-serif;
	font-weight: 700;
	margin-left: 104px;
	position: relative;
}

#pu839
{
	width: 0.01px;
	margin-left: 58px;
	margin-top: 133px;
	position: relative;
}

#u839
{
	z-index: 32;
	width: 57px;
	position: relative;
	margin-right: -10000px;
}

#u843
{
	z-index: 36;
	width: 59px;
	position: relative;
	margin-right: -10000px;
	left: 86px;
}

#u841
{
	z-index: 34;
	width: 56px;
	position: relative;
	margin-right: -10000px;
	left: 175px;
}

#u837
{
	z-index: 30;
	width: 64px;
	margin-left: 142px;
	margin-top: 11px;
	position: relative;
}

#u793-6
{
	z-index: 24;
	width: 354px;
	min-height: 332px;
	background-color: #0071BC;
	text-align: center;
	color: #FFFFFF;
	font-family: cantarell, sans-serif;
	font-weight: 700;
	top: -319px;
	margin-bottom: -319px;
	position: relative;
}

#u793-2
{
	font-size: 16px;
	line-height: 19px;
	padding-bottom: 5px;
	padding-top: 5px;
}

#u793-4
{
	font-size: 18px;
	padding-bottom: 5px;
	padding-top: 5px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u793-3
{
	font-size: 12px;
	line-height: 14px;
}

#u828
{
	z-index: 42;
	width: 35px;
	position: relative;
	margin-right: -10000px;
	left: 333px;
}

#u829
{
	position: absolute;
	width: 35px;
	height: 30px;
	border-color: #C4C4C4;
	background: transparent url("../../images/information-1294813_960_720-u973-fr.png") no-repeat center center;
	background-size: contain !important;
}

#u829:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #999999;
	margin: 0px;
	background-size: contain !important;
}

#u829.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #000000;
	margin: 0px;
	background-size: contain !important;
}

#u786
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #0071BC;
	padding-bottom: 4px;
	top: 194px;
	left: 332px;
}

#u786:hover
{
	border-color: #6B6B6B;
	background-color: #999999;
	margin: 0px;
}

#u786:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	margin: 0px;
}

#u787-4
{
	z-index: 45;
	width: 20px;
	min-height: 20px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pamphletu643
{
	z-index: 49;
	width: 0.01px;
	height: 71px;
	padding-bottom: 225px;
	margin-right: -10000px;
	left: 1px;
}

#u651popup
{
	z-index: 50;
}

#u651
{
	width: 380px;
	top: 71px;
}

#u652
{
	z-index: 51;
	width: 373px;
	height: 205px;
	margin-right: -10000px;
	padding: 8px 3px 11px 2px;
}

#menuu653
{
	z-index: 52;
	width: 180px;
}

#u673
{
	width: 180px;
}

#u674
{
	width: 180px;
	min-height: 16px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u674:hover
{
	margin: 0px -10000px 0px 0px;
}

#u674:active
{
	margin: 0px -10000px 0px 0px;
}

#u657
{
	width: 180px;
	min-height: 16px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u674.MuseMenuActive,#u657:hover
{
	margin: 0px -10000px 0px 0px;
}

#u657:active
{
	margin: 0px -10000px 0px 0px;
}

#u701
{
	width: 180px;
	min-height: 16px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u657.MuseMenuActive,#u701:hover
{
	margin: 0px -10000px 0px 0px;
}

#u701:active
{
	margin: 0px -10000px 0px 0px;
}

#u677-4,#u659-4,#u702-4
{
	width: 180px;
	min-height: 16px;
	margin-right: -10000px;
	top: 10px;
}

#u654,#u700,#u922
{
	width: 180px;
	margin-top: 2px;
}

#u923
{
	width: 180px;
	min-height: 32px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u701.MuseMenuActive,#u923:hover
{
	margin: 0px -10000px 0px 0px;
}

#u923:active
{
	margin: 0px -10000px 0px 0px;
}

#u923.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u924-4
{
	width: 180px;
	min-height: 32px;
	margin-right: -10000px;
	top: 3px;
}

#u680-4
{
	z-index: 85;
	margin-left: 16px;
	margin-top: 14px;
}

#u681-8
{
	z-index: 77;
	width: 187px;
	min-height: 155px;
	margin-left: 186px;
	top: -205px;
	margin-bottom: -155px;
}

#u686
{
	z-index: 89;
	width: 71px;
	margin-right: -10000px;
}

#u687
{
	width: 71px;
	height: 71px;
}

#u687:hover
{
	margin: 0px;
}

#u687.PamphletThumbSelected
{
	margin: 0px;
}

#u641
{
	z-index: 91;
	width: 105px;
	margin-right: -10000px;
	left: 137px;
}

#u640-6
{
	z-index: 3;
	margin-left: 20px;
	top: -522px;
	margin-bottom: -107px;
}

#u774
{
	z-index: 9;
	width: 374px;
	min-height: 144px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	margin-left: 3px;
	top: -378px;
	margin-bottom: -244px;
	position: relative;
}

#u779
{
	z-index: 10;
	width: 296px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	line-height: 17px;
	font-weight: bold;
	margin-left: 42px;
	top: -123px;
	margin-bottom: -100px;
	position: relative;
}

#u776
{
	z-index: 15;
	width: 130px;
	margin-left: 129px;
	top: -17px;
	margin-bottom: -17px;
	position: relative;
}

#u777
{
	z-index: 16;
	width: 130px;
	border-color: #000000;
	background-color: #000000;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	-khtml-border-radius: 25px;
	border-radius: 25px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u778-4
{
	z-index: 17;
	width: 130px;
	min-height: 19px;
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 22px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u781-4
{
	z-index: 11;
	width: 195px;
	min-height: 29px;
	text-align: center;
	color: #FFFFFF;
	margin-left: 96px;
	margin-top: 18px;
	position: relative;
}

#page .verticalspacer
{
	clear: both;
}

