#u681-8
{
	font-family: karla-n4, sans-serif;
}

#u983-4
{
	font-family: quantico-n7, sans-serif;
}

#u1000-4
{
	font-family: karla-n4, sans-serif;
}

#u990-10
{
	font-family: cantarell-n4, sans-serif;
}

