@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background: #7F7F7F url("../../images/isfahan_lotfollah_mosque_ceiling_symmetric.jpg") no-repeat center center scroll;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #494949;
	background-color: rgba(0, 0, 0, 0.71);
}

#page_position_content
{
	margin-bottom: 71px;
}

#pu639
{
	width: 0.01px;
	padding-bottom: 1px;
	position: relative;
}

#u639
{
	z-index: 2;
	width: 379px;
	height: 70px;
	margin-right: -10000px;
}

#pamphletu643
{
	z-index: 10;
	width: 0.01px;
	height: 71px;
	padding-bottom: 225px;
	margin-right: -10000px;
	left: 1px;
}

#u651popup
{
	z-index: 11;
}

#u651
{
	width: 380px;
	top: 71px;
}

#u652
{
	z-index: 12;
	width: 373px;
	height: 205px;
	margin-right: -10000px;
	padding: 8px 3px 11px 2px;
}

#menuu653
{
	z-index: 13;
	width: 180px;
}

#u673
{
	width: 180px;
}

#u674
{
	width: 180px;
	min-height: 16px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u674:hover
{
	margin: 0px -10000px 0px 0px;
}

#u674:active
{
	margin: 0px -10000px 0px 0px;
}

#u657
{
	width: 180px;
	min-height: 16px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u674.MuseMenuActive,#u657:hover
{
	margin: 0px -10000px 0px 0px;
}

#u657:active
{
	margin: 0px -10000px 0px 0px;
}

#u701
{
	width: 180px;
	min-height: 16px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u657.MuseMenuActive,#u701:hover
{
	margin: 0px -10000px 0px 0px;
}

#u701:active
{
	margin: 0px -10000px 0px 0px;
}

#u677-4,#u659-4,#u702-4
{
	width: 180px;
	min-height: 16px;
	margin-right: -10000px;
	top: 10px;
}

#u654,#u700,#u922
{
	width: 180px;
	margin-top: 2px;
}

#u923
{
	width: 180px;
	min-height: 32px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u701.MuseMenuActive,#u923:hover
{
	margin: 0px -10000px 0px 0px;
}

#u923:active
{
	margin: 0px -10000px 0px 0px;
}

#u923.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u924-4
{
	width: 180px;
	min-height: 32px;
	margin-right: -10000px;
	top: 3px;
}

#u680-4
{
	z-index: 46;
	margin-left: 16px;
	margin-top: 14px;
}

#u681-8
{
	z-index: 38;
	width: 187px;
	min-height: 155px;
	margin-left: 186px;
	top: -205px;
	margin-bottom: -155px;
}

#u686
{
	z-index: 50;
	width: 71px;
	margin-right: -10000px;
}

#u687
{
	width: 71px;
	height: 71px;
}

#u687:hover
{
	margin: 0px;
}

#u687.PamphletThumbSelected
{
	margin: 0px;
}

#u641
{
	z-index: 52;
	width: 105px;
	margin-right: -10000px;
	left: 137px;
}

#u640-6
{
	z-index: 3;
	margin-left: 20px;
	top: -208px;
	margin-bottom: -107px;
}

#u905
{
	z-index: 9;
	width: 384px;
	min-height: 547px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -2px;
	top: -91px;
	margin-bottom: -91px;
	position: relative;
}

#page .verticalspacer
{
	clear: both;
}

