.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 860px;
	min-height: 399.6369574251073px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 2px;
}

#pu430
{
	width: 0.01px;
	margin-left: 131px;
	position: relative;
}

#u430
{
	z-index: 26;
	width: 157px;
	position: relative;
	margin-right: -10000px;
}

#u430_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u415
{
	z-index: 9;
	width: 296px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	text-align: center;
	line-height: 17px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 411px;
}

#pu412-6
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 15px;
	position: relative;
}

#u412-6
{
	z-index: 2;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
}

#u413
{
	z-index: 8;
	width: 408px;
	min-height: 244px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 410px;
}

#pu441
{
	width: 0.01px;
	margin-left: 144px;
	margin-top: 84px;
	position: relative;
}

#u441
{
	z-index: 28;
	width: 130px;
	position: relative;
	margin-right: -10000px;
}

#u442
{
	z-index: 29;
	width: 130px;
	border-color: #000000;
	background-color: #000000;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	-khtml-border-radius: 25px;
	border-radius: 25px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u443-4
{
	z-index: 30;
	width: 130px;
	min-height: 19px;
	text-align: center;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u427
{
	z-index: 20;
	width: 212px;
	position: relative;
	margin-right: -10000px;
	left: 180px;
}

#u429
{
	z-index: 21;
	width: 212px;
	border-color: #000000;
	background-color: #000000;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	-khtml-border-radius: 25px;
	border-radius: 25px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u428-4
{
	z-index: 22;
	width: 213px;
	min-height: 19px;
	text-align: center;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: -1px;
}

#u420
{
	z-index: 14;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	left: 442px;
}

#u422
{
	z-index: 15;
	width: 130px;
	border-color: #000000;
	background-color: #000000;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	-khtml-border-radius: 25px;
	border-radius: 25px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u421-4
{
	z-index: 16;
	width: 130px;
	min-height: 19px;
	text-align: center;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#pu445-4
{
	width: 0.01px;
	left: -62px;
	top: -510px;
	margin-bottom: -510px;
	position: relative;
}

#u445-4
{
	z-index: 34;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u419-4
{
	z-index: 10;
	width: 195px;
	min-height: 29px;
	text-align: center;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 543px;
	left: 385px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

