.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 860px;
	min-height: 400px;
	border-style: none;
	border-color: #000000;
	margin-left: auto;
	margin-right: auto;
	background: #FFFFFF url("../images/isfahan_lotfollah_mosque_ceiling_symmetric-page-fr.jpg") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/isfahan_lotfollah_mosque_ceiling_symmetric.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover !important;
}

#u480
{
	z-index: 37;
	width: 62px;
	position: relative;
	margin-right: -10000px;
	left: -62px;
}

#u462
{
	z-index: 2;
	width: 859px;
	height: 635px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #828282;
	background-color: rgba(0, 0, 0, 0.49);
	position: fixed;
	top: 23px;
	left: 50%;
	margin-left: -430px;
	-pie-background: rgba(0, 0, 0, 0.49);
}

#ppu441
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#pu441
{
	width: 0.01px;
	margin-left: 57px;
	position: relative;
}

#u441
{
	z-index: 27;
	width: 130px;
	position: relative;
	margin-right: -10000px;
}

#u442
{
	z-index: 28;
	width: 130px;
	border-color: #000000;
	background-color: #000000;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	-khtml-border-radius: 25px;
	border-radius: 25px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u443-4
{
	z-index: 29;
	width: 130px;
	min-height: 19px;
	text-align: center;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u415
{
	z-index: 10;
	width: 296px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	line-height: 17px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 464px;
}

#pu412-6
{
	width: 0.01px;
	margin-top: 57px;
	position: relative;
}

#u412-6
{
	z-index: 3;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
}

#u413
{
	z-index: 9;
	width: 408px;
	min-height: 244px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 410px;
}

#pamphletu713
{
	z-index: 39;
	width: 0.01px;
	height: 326px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 466px;
}

#u714
{
	z-index: 40;
	width: 213px;
	position: relative;
	margin-right: -10000px;
	margin-top: 304px;
	left: 84px;
}

#u715
{
	position: absolute;
	width: 213px;
	border-color: #000000;
	background-color: #000000;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	-khtml-border-radius: 25px;
	border-radius: 25px;
	padding-bottom: 5px;
	top: -4px;
}

#u715:hover
{
	border-color: #999999;
	margin: 0px;
}

#u715.PamphletThumbSelected
{
	border-color: #000000;
	background-color: #000000;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	-khtml-border-radius: 25px;
	border-radius: 25px;
	margin: 0px;
}

#u768-4
{
	z-index: 42;
	width: 213px;
	min-height: 19px;
	text-align: center;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u721
{
	position: absolute;
	width: 381px;
}

#u721popup
{
	z-index: 46;
}

#u722
{
	z-index: 47;
	width: 376px;
	height: 290px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.64);
	padding-left: 3px;
	padding-top: 8px;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(255, 255, 255, 0.64);
}

#u765
{
	z-index: 52;
	width: 376px;
	min-height: 254px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u757-4
{
	z-index: 48;
	display: block;
	vertical-align: top;
	margin-left: 12px;
	position: relative;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu427
{
	width: 0.01px;
	margin-left: 58px;
	top: -30px;
	margin-bottom: -30px;
	position: relative;
}

#u427
{
	z-index: 21;
	width: 212px;
	position: relative;
	margin-right: -10000px;
}

#u429
{
	z-index: 22;
	width: 212px;
	border-color: #000000;
	background-color: #000000;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	-khtml-border-radius: 25px;
	border-radius: 25px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u428-4
{
	z-index: 23;
	width: 213px;
	min-height: 19px;
	text-align: center;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: -1px;
}

#u420
{
	z-index: 15;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	left: 288px;
}

#u422
{
	z-index: 16;
	width: 130px;
	border-color: #000000;
	background-color: #000000;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	-khtml-border-radius: 25px;
	border-radius: 25px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u421-4
{
	z-index: 17;
	width: 130px;
	min-height: 19px;
	text-align: center;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u445-4
{
	z-index: 33;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: -62px;
}

#u419-4
{
	z-index: 11;
	width: 195px;
	min-height: 29px;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 570px;
	left: 323px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -26px;
}

