.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 860px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -37px;
	margin-bottom: -37px;
}

#u344
{
	z-index: 154;
	width: 1060px;
	height: 483px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	background: #FFFFFF url("../images/truck_0001-u344-fr.png") no-repeat left center;
	background-size: cover !important;
}

#u345
{
	z-index: 155;
	width: 1060px;
	height: 483px;
	border-color: #000000;
	background-color: #E5E5E5;
	background-color: rgba(0, 0, 0, 0.1);
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	-pie-background: rgba(0, 0, 0, 0.1);
}

#u346
{
	z-index: 156;
	width: 1060px;
	border-color: #000000;
	background-color: #666666;
	background-color: rgba(0, 0, 0, 0.6);
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0, 0, 0, 0.6);
}

#home
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 11px;
}

#u347-6
{
	z-index: 157;
	width: 269px;
	min-height: 89px;
	text-align: left;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 76px;
}

#u347-2
{
	font-size: 65px;
	line-height: 78px;
}

#u347-4
{
	font-size: 29px;
	line-height: 35px;
}

#pu348-4
{
	width: 0.01px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 397px;
}

#u348-4
{
	z-index: 163;
	width: 396px;
	min-height: 12px;
	text-align: right;
	color: #FFFFFF;
	font-size: 22px;
	line-height: 26px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	margin-left: 267px;
	position: relative;
}

#u348-2
{
	padding-right: 10px;
}

#u373
{
	z-index: 167;
	width: 534px;
	margin-top: 22px;
	position: relative;
}

#u374
{
	z-index: 168;
	width: 534px;
	position: relative;
	margin-right: -10000px;
}

#u375
{
	z-index: 175;
	width: 174px;
	position: relative;
	margin-right: -10000px;
}

#u377
{
	z-index: 176;
	width: 174px;
	border-color: #000000;
	background-color: #1B1464;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u376-4
{
	z-index: 177;
	width: 135px;
	min-height: 22px;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 20px;
}

#u381
{
	z-index: 181;
	width: 174px;
	position: relative;
	margin-right: -10000px;
	left: 180px;
}

#u383
{
	z-index: 182;
	width: 174px;
	border-color: #000000;
	background-color: #1B1464;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u382-4
{
	z-index: 183;
	width: 135px;
	min-height: 22px;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 20px;
}

#u378
{
	z-index: 169;
	width: 174px;
	position: relative;
	margin-right: -10000px;
	left: 360px;
}

#u379
{
	z-index: 170;
	width: 174px;
	border-color: #000000;
	background-color: #1B1464;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u380-4
{
	z-index: 171;
	width: 135px;
	min-height: 22px;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 20px;
}

#u463
{
	z-index: 187;
	width: 1060px;
	height: 40px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 444px;
	background: transparent url("../images/down-u463-fr.png") no-repeat center center;
	background-size: contain !important;
}

#u564
{
	z-index: 123;
	width: 40px;
	position: fixed;
	top: 7px;
	left: 50%;
	margin-left: 439px;
}

#u387
{
	z-index: 124;
	width: 1060px;
	padding-bottom: 58px;
	position: fixed;
	top: -1px;
	left: 50%;
	margin-left: -530px;
}

#u370
{
	z-index: 125;
	width: 1060px;
	border-color: #000000;
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	padding-bottom: 57px;
	position: fixed;
	top: -1px;
	left: 50%;
	margin-left: -530px;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u393
{
	z-index: 126;
	width: 131px;
	position: fixed;
	top: 2px;
	left: 50%;
	margin-left: -502px;
}

#u386-6
{
	z-index: 146;
	position: relative;
	width: 131px;
	margin-right: -10000px;
}

#u386-6_img
{
	display: block;
	vertical-align: top;
}

#u389
{
	z-index: 127;
	width: 534px;
	position: fixed;
	top: 3px;
	left: 50%;
	margin-left: -133px;
}

#u324
{
	z-index: 134;
	width: 174px;
	position: relative;
	margin-right: -10000px;
}

#u326
{
	z-index: 135;
	width: 174px;
	border-color: #000000;
	background-color: #1B1464;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u325-4
{
	z-index: 136;
	width: 135px;
	min-height: 22px;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 20px;
}

#u327
{
	z-index: 140;
	width: 174px;
	position: relative;
	margin-right: -10000px;
	left: 180px;
}

#u329
{
	z-index: 141;
	width: 174px;
	border-color: #000000;
	background-color: #1B1464;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u328-4
{
	z-index: 142;
	width: 135px;
	min-height: 22px;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 20px;
}

#u321
{
	z-index: 128;
	width: 174px;
	position: relative;
	margin-right: -10000px;
	left: 360px;
}

#u322
{
	z-index: 129;
	width: 174px;
	border-color: #000000;
	background-color: #1B1464;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u323-4
{
	z-index: 130;
	width: 135px;
	min-height: 22px;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 20px;
}

#u559
{
	z-index: 152;
	width: 40px;
	position: relative;
	margin-right: -10000px;
}

#pu313
{
	width: 0.01px;
	left: -100px;
	margin-top: 1px;
	position: relative;
}

#u313
{
	z-index: 22;
	width: 1060px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u313_position_content
{
	margin-bottom: -379px;
}

#ourservice
{
	position: relative;
}

#u314-4
{
	z-index: 99;
	width: 225px;
	min-height: 27px;
	line-height: 34px;
	color: #1B1464;
	font-size: 28px;
	font-weight: bold;
	left: 120px;
	margin-top: 42px;
	position: relative;
}

#u410
{
	z-index: 23;
	width: 820px;
	left: 228px;
	margin-top: 65px;
	position: relative;
}

#u341
{
	z-index: 26;
	width: 1060px;
	height: 40px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 557px;
	background: transparent url("../images/down-u463-fr.png") no-repeat center center;
	background-size: contain !important;
}

#u315-4
{
	z-index: 73;
	width: 457px;
	min-height: 95px;
	line-height: 19px;
	color: #1B1464;
	font-size: 16px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
	left: 120px;
}

#u315-2
{
	padding-bottom: 13px;
}

#u316
{
	z-index: 77;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
	left: 675px;
}

#u318
{
	z-index: 79;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 417px;
	left: 709px;
}

#u320-18
{
	z-index: 81;
	width: 402px;
	min-height: 249px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #1B1464;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	-khtml-border-radius: 25px;
	border-radius: 25px;
	color: #FFFFFF;
	font-size: 14px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 299px;
	left: 59px;
}

#u320-2
{
	font-weight: bold;
	padding: 10px 10px 3px;
}

#u320-4
{
	font-weight: normal;
	padding: 10px 10px 3px;
}

#u320-6,#u320-8,#u320-10,#u320-12,#u320-14
{
	font-weight: normal;
	padding: 3px 10px;
}

#u320-16
{
	font-weight: normal;
	padding: 3px 10px 10px;
}

#pu344,#pu394
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u394
{
	z-index: 25;
	width: 1060px;
	border-color: #000000;
	background-color: #FB3600;
	padding-bottom: 274px;
	position: relative;
	margin-right: -10000px;
}

#u399-4
{
	z-index: 29;
	width: 820px;
	min-height: 27px;
	text-align: center;
	line-height: 40px;
	color: #FFFFFF;
	font-size: 33px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 308px;
	left: 120px;
}

#u395
{
	z-index: 28;
	width: 1060px;
	height: 40px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 575px;
	background: transparent url("../images/down-u463-fr.png") no-repeat center center;
	background-size: contain !important;
}

#u558
{
	z-index: 34;
	width: 735px;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 163px;
}

#u557
{
	z-index: 44;
	width: 109px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u464
{
	z-index: 45;
	width: 82px;
	margin-left: 14px;
	position: relative;
}

#u494-6
{
	z-index: 47;
	width: 109px;
	text-align: center;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	margin-top: 18px;
	position: relative;
}

#pu554
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 275px;
}

#u554
{
	z-index: 35;
	width: 161px;
	padding-bottom: 0px;
	margin-left: 12px;
	position: relative;
}

#u474
{
	z-index: 36;
	width: 82px;
	margin-left: 39px;
	position: relative;
}

#u497-6
{
	z-index: 38;
	width: 161px;
	text-align: center;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	margin-top: 26px;
	position: relative;
}

#u555
{
	z-index: 62;
	width: 185px;
	padding-bottom: 0px;
	margin-top: 122px;
	position: relative;
}

#u484
{
	z-index: 63;
	width: 82px;
	margin-left: 52px;
	position: relative;
}

#u464_img,#u484_img
{
	padding-right: 1px;
}

#u498-6
{
	z-index: 65;
	width: 185px;
	text-align: center;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	margin-top: 18px;
	position: relative;
}

#u556
{
	z-index: 53;
	width: 109px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 626px;
}

#u479
{
	z-index: 54;
	width: 81px;
	margin-left: 14px;
	position: relative;
}

#u496-6
{
	z-index: 56;
	width: 109px;
	text-align: center;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	margin-top: 19px;
	position: relative;
}

#globaltrack
{
	left: -100px;
	margin-top: 11px;
	position: relative;
}

#pu397
{
	width: 0.01px;
	left: -100px;
	margin-top: 12px;
	position: relative;
}

#u397
{
	z-index: 33;
	width: 1060px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 23px;
	position: relative;
	margin-right: -10000px;
}

#u346_align_to_page,#u313_align_to_page,#u394_align_to_page,#u397_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 860px;
	position: relative;
	left: -100px;
}

#pu400-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 120px;
}

#u400-4
{
	z-index: 105;
	width: 225px;
	min-height: 27px;
	line-height: 34px;
	color: #000000;
	font-size: 28px;
	font-weight: bold;
	position: relative;
}

#u427-7
{
	z-index: 110;
	width: 380px;
	min-height: 75px;
	margin-top: 102px;
	position: relative;
}

#u427-2
{
	font-size: 20px;
	line-height: 24px;
}

#u420
{
	z-index: 71;
	width: 553px;
	position: relative;
	margin-right: -10000px;
	left: 507px;
}

#u425
{
	z-index: 109;
	width: 512px;
	min-height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 382px;
	left: 120px;
}

#u428-6
{
	z-index: 117;
	width: 476px;
	min-height: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 439px;
	left: 120px;
}

#contactus
{
	left: -100px;
	top: -1200px;
	margin-bottom: -18px;
	position: relative;
}

#u575
{
	z-index: 2;
	width: 1061px;
	left: -100px;
	top: -2px;
	margin-bottom: -2px;
}

#u571
{
	z-index: 3;
	width: 1059px;
	padding-bottom: 2px;
	margin-right: -10000px;
}

#u574-6
{
	z-index: 16;
	width: 207px;
	min-height: 89px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 54px;
}

#u572-8
{
	z-index: 4;
	width: 267px;
	min-height: 66px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 395px;
}

#u573-4
{
	z-index: 12;
	width: 190px;
	margin-right: -10000px;
	margin-top: 53px;
	left: 797px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

