#u575
{
	position: relative;
}

#u571
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #161515;
	position: relative;
}

#u574-6
{
	text-align: left;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
}

#u574-2
{
	font-size: 55px;
	line-height: 66px;
}

#u574-4
{
	font-size: 24px;
	line-height: 29px;
}

#u572-8,#u573-4
{
	text-align: center;
	color: #FFFFFF;
	position: relative;
}

